# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd

In [4]:
file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(file1_url)
df2 = pd.read_csv(file2_url)
df3 = pd.read_csv(file3_url)

In [5]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [6]:
# Eliminar duplicados
combined_df.drop_duplicates(inplace=True)

# Rellenar valores nulos
combined_df.fillna(method='ffill', inplace=True)

C:\Users\Propietario\AppData\Local\Temp\ipykernel_4680\4097470710.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df.fillna(method='ffill', inplace=True)

In [7]:
combined_df.to_csv("combined_cleaned_data.csv", index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [8]:
import numpy as np

In [9]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [10]:
# Mostrar las primeras filas del DataFrame
print(df.head())

# Describir las columnas numéricas
print(df.describe().T)

# Información general del DataFrame
print(df.info())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
                                 count          mean           std  \
unnamed:_0                     10910.0   5454.500000   3149.590053
customer_lifetime_value        10910.0   8018.241094   6885.081434
income                         10910.0  37536.284785  30359.195670
monthly_premium_auto           10910.0     93.196059     34.442532
months_since_last_claim        10910.0     15.149071      9.783520
months_since_policy_inception  10910.0     48.091934     27.940675
number_of_open_complaints      10910.0      0.384256      0.885589
number_of_policies             10910.0      2.979193      2.399359
total_claim_amount             10910.0    434.888330    292.180556
month                          10910.0      1.466728      0.498915

                                       min          25%           50%  \
unnamed:_0                        0.000000  2727.250000   5454.500000
customer_lifetime_value        1898.007675  4014.453113   5771.147235
income                            0.000000     0.000000  33813.500000
monthly_premium_auto             61.000000    68.000000     83.000000
months_since_last_claim           0.000000     7.000000     15.000000
months_since_policy_inception     0.000000    24.000000     48.000000
number_of_open_complaints         0.000000     0.000000      0.000000
number_of_policies                1.000000     1.000000      2.000000
total_claim_amount                0.099007   271.082527    382.564630
month                             1.000000     1.000000      1.000000

                                        75%           max
unnamed:_0                      8181.750000  10909.000000
customer_lifetime_value         8992.779137  83325.381190
income                         62250.750000  99981.000000
monthly_premium_auto             109.000000    298.000000
months_since_last_claim           23.000000     35.000000
months_since_policy_inception     71.000000     99.000000
number_of_open_complaints          0.384256      5.000000
number_of_policies                 4.000000      9.000000
total_claim_amount               547.200000   2893.239678
month                              2.000000      2.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

In [11]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [12]:
# Mostrar el número de valores nulos por columna
print(df.isnull().sum())

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [13]:
# Verificar si hay duplicados en el DataFrame
duplicates = df.duplicated().sum()
print(f"Número de filas duplicadas: {duplicates}")

Número de filas duplicadas: 0

In [14]:
# Mostrar un resumen de las columnas y sus tipos de datos
print(df.info())

# Mostrar estadísticas descriptivas del DataFrame
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
          unnamed:_0 customer       state  customer_lifetime_value response  \
count   10910.000000    10910       10910             10910.000000    10910
unique           NaN     9134           5                      NaN        2
top              NaN  ID89933  California                      NaN       No
freq             NaN        7        4183                      NaN     9444
mean     5454.500000      NaN         NaN              8018.241094      NaN
std      3149.590053      NaN         NaN              6885.081434      NaN
min         0.000000      NaN         NaN              1898.007675      NaN
25%      2727.250000      NaN         NaN              4014.453113      NaN
50%      5454.500000      NaN         NaN              5771.147235      NaN
75%      8181.750000      NaN         NaN              8992.779137      NaN
max     10909.000000      NaN         NaN             83325.381190      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
count     10910     10910             10910            10910  10910  ...
unique        3         5                59                5      2  ...
top       Basic  Bachelor        2011-01-10         Employed      F  ...
freq       6660      3272               239             6789   5573  ...
mean        NaN       NaN               NaN              NaN    NaN  ...
std         NaN       NaN               NaN              NaN    NaN  ...
min         NaN       NaN               NaN              NaN    NaN  ...
25%         NaN       NaN               NaN              NaN    NaN  ...
50%         NaN       NaN               NaN              NaN    NaN  ...
75%         NaN       NaN               NaN              NaN    NaN  ...
max         NaN       NaN               NaN              NaN    NaN  ...

        number_of_policies    policy_type       policy  renew_offer_type  \
count         10910.000000          10910        10910             10910
unique                 NaN              3            9                 4
top                    NaN  Personal Auto  Personal L3            Offer1
freq                   NaN           8128         4118              4483
mean              2.979193            NaN          NaN               NaN
std               2.399359            NaN          NaN               NaN
min               1.000000            NaN          NaN               NaN
25%               1.000000            NaN          NaN               NaN
50%               2.000000            NaN          NaN               NaN
75%               4.000000            NaN          NaN               NaN
max               9.000000            NaN          NaN               NaN

        sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
count           10910        10910.000000          10910         10910
unique              4                 NaN              6             3
top             Agent                 NaN  Four-Door Car       Medsize
freq             4121                 NaN           5834          7873
mean              NaN          434.888330            NaN           NaN
std               NaN          292.180556            NaN           NaN
min               NaN            0.099007            NaN           NaN
25%               NaN          271.082527            NaN           NaN
50%               NaN          382.564630            NaN           NaN
75%               NaN          547.200000            NaN           NaN
max               NaN         2893.239678            NaN           NaN

       vehicle_type         month
count         10910  10910.000000
unique            1           NaN
top               A           NaN
freq          10910           NaN
mean            NaN      1.466728
std             NaN      0.498915
min             NaN      1.000000
25%             NaN      1.000000
50%             NaN      1.000000
75%             NaN      2.000000
max             NaN      2.000000

[11 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here